@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.example-card {
  width: 200px;
  margin: 20px;

}

.cards {
  min-width: 1000px;
  display: -ms-inline-flexbox;
}

.card-image {
  height: 120px;
  width: 120px;
  display: block;
  margin: auto;
}

.span-tag-bio {
  color: white;
}

.span-tag-eco {
  color: white;
}


.cart-icone {
  color: dodgerblue;
  @include mat-icon-size(44px);
  background-size: 100% auto;
}

quantity-icone {
  color: dodgerblue;
  @include mat-icon-size(14px);
  background-size: 70% auto;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
}

#add-trader-button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}
