<!--<mat-tab-group>-->
  <!--<mat-tab label="Selectionner Type du prduit"> <app-category></app-category> </mat-tab>-->
  <!--<mat-tab label="Faire la course"> Content 2 </mat-tab>-->
  <!--<mat-tab label="Choisir mode de livraison"> <app-driver></app-driver> </mat-tab>-->
  <!--<mat-tab label="Comparateur"> Content 4 </mat-tab>-->
  <!--<mat-tab label="Paiement"> Content 5 </mat-tab>-->
<!--</mat-tab-group>-->

<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step>
    <ng-template matStepLabel>Catégorie</ng-template>
     <app-category (categoryChanged)="categoryChangedHandler($event)"></app-category>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Produits</ng-template>
    <app-product #products (productCartChanged)="productCartChangedHandler($event)"
                 (cartFilled)="cartFilledHandler($event)"></app-product>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel >Livraison</ng-template>
    <app-driver (deleiveryChoiceChecked)="deleiveryChoiceCheckedHandler($event)"></app-driver>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Marché</ng-template>
    <app-choice #choices [deliveryCost]="deliveryCost" [Cart]="Cart" (choiceChanged)="choiceChangedHandler($$event)"></app-choice>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Paiement</ng-template>
    <app-paiement (paimentChanged)="paimentChangedHandler($event)"></app-paiement>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Fin</ng-template>
    <div  style="margin-left: 500px" style="display: table">
      <b style="color: forestgreen">Votre commande  est enregistré</b>
      <img src="../../../assets/logo.png" width="400" height="400"/>
    </div>
    <div>
      <button mat-button matStepperPrevious>Etape précédente</button>
      <button mat-button (click)="stepper.reset()">Passer une autre commande</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
