<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-menu></app-menu>
</div>

<div class="sidebar">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          New promotion
        </mat-panel-title>
        <mat-panel-description>
          100%
        </mat-panel-description>
      </mat-expansion-panel-header>
      Content
    </mat-expansion-panel>

  </mat-accordion>


</div>
<div class="content">
  <router-outlet></router-outlet>
</div>

