<div class="wrapper">


  <div fxLayout="row" fxLayoutAlign="center center"><span style="color: black ; font-family: Roboto, 'Helvetica Neue', sans-serif; font-size: 1em"><b>
    CourseIt est une application web qui vous permet de comparer vos course chez plusieurs super marché . Elle compare automatiquement les produits alimentaires selectionnés dans le panier.
    Plusieurs options de recherche sont fournis à l'utilisateur à savoir les produits bio et eco.

    Basé sur le framework connu de Google Material Design , elle vous une experience visuelle facile tout en couvrant un besoin trés imporant.
  </b></span></div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="../../assets/logo2.png" width="500" height="500">
  </div>

  </div>
