<div class="wrapper">


  <div fxLayout="row" fxLayoutAlign="center center"><span style="color: black ; font-family: Roboto, 'Helvetica Neue', sans-serif; font-size: 1em"><b>

    Votre entreprise ESCORP SOFTWARE est spécialisée dans le développement d’applications Web et
mobile à destination d’autres entreprises. Votre responsable vous demande de réaliser une
application commandée par un de ses clients (l’entreprise SAFELIFE) qui va être utilisée pour
effectuer le recensement des commerçants travaillants dans différents marchés locaux. L’objectif de
cette application est de collecter suffisamment d’information pour émettre des statistiques sur les
revenus de tous les commerçants exerçants dans les marchés cibles. Le client final de l’application
souhaite pouvoir utiliser ses informations statistiques pour consolider une offre d’épargne spécifique à
cette activité.
Le client final à savoir la société SAFELIFE souhaite déployer cette application à des agents de
collecte d’information. Les agents de collecte d’information iront dans les différents marchés afin de
collecter des informations sur les commerçants présents au sein de chacun de ses marchés. Ils
utiliseront l’application mobile pour collecter lesdites informations.
  </b></span></div>
  <div fxLayout="row" fxLayoutAlign="center center">

  </div>

  </div>
