<div class="wrapper">
  <div fxLayout="row" fxLayoutAlign="center center">
    <img src="../../assets/logo2.png" width="200" height="200">
  </div>
<table width="100%">
<tbody>
  <tr >
  <td>Nom d'utilsateur</td>
  <td>{{actuelUser.userName}}</td>
  </tr>
  <tr>
  <td>Nom</td>
    <td>{{actuelUser.fistName}}</td>
  </tr>
  <tr>
    <td>Prénom</td>
    <td>{{actuelUser.lastName}}</td>
  </tr>
  <tr>
    <td>Date de naissance</td>
    <td>{{actuelUser.BirthDay}}</td>
  </tr>
  <tr>
  <td>Lieur de naissance</td>
    <td>{{actuelUser.BirthPlace}}</td>
  </tr>
  <tr>
  <td>Addresse</td>
    <td>{{actuelUser.Address}}</td>
  </tr>
  <tr>
    <td>Preférences</td>
    <td>{{actuelUser.Preference}}</td>
  </tr>
</tbody>
</table>
</div>
